
.photo-grid{  
   
    display: grid;
    grid-template-columns: repeat(4, auto); 
    grid-gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .photo-grid{
        width: 100%;
        display: grid;  
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 10px;
        margin-left: 50px;
        justify-items: center;
     
       
    }
}