.grid__item{
    width: 100%
    height: 213px;
    object-fit: cover;
       
}


@media screen and (min-width: 320px) and (max-width: 767px){
    .grid__item{
        width: 400px;
        height: 230px;     
        align-items: center;  
    }
}