.place__title{
    color: #FFFFFF;        
    font-size: 72px;
    font-weight: 800;
    line-height: 76px;        
    grid-column-start: 1;    
    grid-row-start: 1;
      
}

.place__title-usa{
    color:#FFFFFF;
    font-size: 72px;
    font-weight: 800;
    line-height: 76px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;    
          
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .place__title{
        padding-top: 150px;
    }
}