.lead__title{
    text-align: center;
    color: #FFFFFF;    
}

/* Tamano Mediano */
@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__title{
        font-size: 56px;
        font-weight: 700;
        line-height: 70px;
        width: 400px;        
        margin-right: 10px;
        
    }
}

/* Tamano Grande */
@media screen and (min-width:768px) and (max-width:1280px) {
    .lead__title{
        font-size: 96px;
        font-weight: 800;
        line-height: 100px;
        width: 793px;
       
      
    
    }
}

